langchain
ipykernel
python-dotenv
langchain-community
pypdf
langchain-text-splitters
faiss-cpu
chromadb
streamlit
langchain_groq
transformers
langchain_huggingface
bs4
sentence-transformers
langchain_chroma
snscrape
youtube-transcript-api
pymupdf
arxiv
wikipedia